version: '3'

services:
  ui:
    build:
      context: ./mind
      dockerfile: Dockerfile.local
    command: npm start
    ports:
      - 3000:3000
    volumes:
      - ./mind:/usr/src/app

  api-python:
    build:
      context: ./mind-api-python
      dockerfile: Dockerfile.local
    ports:
      - 4000:4000
    profiles:
      - api-python

  api-json-server:
    build:
      context: ./mind-api-json-server
      dockerfile: Dockerfile.local
    command: npm start
    ports:
      - 4000:4000
    volumes:
      - ./mind-api-json-server:/usr/src/app
    profiles:
      - api-json-server
