version: '3'

services:
  ui:
    build:
      context: ./mind
    ports:
      - 3000:80

  api-python:
    profiles:
      - api-python

  api-json-server:
    build:
      context: ./mind-api-json-server
    ports:
      - 4000:4000
    profiles:
      - api-json-server